html, body, div.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Georgia", serif;
	background-color: #191414;
}

div.wrapper {
  display: flex;
  gap: 2em;
}

header {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: #1DB954;
  box-shadow: 5px 0px 18px 0px #848484;
  padding: 0 2em 2em 2em;

  align-items: center;
}

header form {
  display: flex;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  padding: 0 0 1em;
  cursor: pointer;
}

header li:hover {
  color: lightblue;
}

header li.selected {
  color: darkblue;
  font-weight: bold;
}

main {
  flex: 4;
  overflow-y: auto;
  padding: 2em;
  color: white;
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
}

main img {
  min-width: 0;
  min-height: 0;
  max-width: 50%;
  max-height: 50%;
  margin: 2em 0;
}

main div.artist-info {
  font-style: italic;
}

main li{
  font-size: 20px;
  text-align: left;
}

h1, a{
  text-align: center;
}

a{
  font-size: 30px;
}

li{
  font-weight: bold;
  font-size: 12px;
}

#logout{
  width: 7em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
}

#genres{
  text-align: left;
  font-size: 40px;
}

main ol li{
  font-size: 25px;
}

#topTracks {
  display: flex;
  justify-content: space-between;
  height: 20em;
  overflow: auto; 
}

#topTracks div {
  text-align: center; 
}

#topTracks div a {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

#topTracks div a img {
  height: 70%; 
  width: auto; 
}


#albums div{
  margin-bottom: 5em;
  justify-content: center;
}

.album{
  height: 25%;
  width: 25%;
  margin-top: 0px;
}

.album_link{
  text-align: center;
  font-size: 15px;
  color: white;
}

#albums div{
  text-align: center;
}

#relatedArtists {
  display: flex;
  justify-content: space-between;
  height: 20em;
  overflow: auto; 
}

#relatedArtists div{
  text-align: center; 
}

#relatedArtists div a{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

#relatedArtists div a img {
  height: 70%; 
  width: auto;
  border-radius: 50%; 
}

.favoriteButton{
  margin-left: 2em;
}

a{
  text-decoration: none;
}

#favourites{
  overflow-y: auto;
  padding-right: 3em;
}


